.signin-page {
  /* background-color: rgb(228, 231, 241) !important; */
}

.signin-form {
  width: 300px;
  margin: auto;
  padding: 3rem;
  text-align: center;
}
.signin-form .form-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
