body {
  background-color: #ededed !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: unset;
}

.MuiDataGrid-root {
  background-color: white;
}
.MuiDataGrid-cellContent {
  font-weight: 500;
}

/* .MuiDataGrid-row {
  pointer-events: none !important;
} */
.SnackbarItem-variantSuccess {
  background: #008060 !important;
}
.SnackbarItem-variantWarning {
  background: #ed6c02 !important;
}
.SnackbarItem-variantInfo {
  background-color: #061e3d !important;
  /* border:1px solid #bcbcbc; */
  /* color: black!important; */
}
.SnackbarItem-variantError {
  background: #d32f2f !important;
}

.BlueRow {
  background: #787dbd!important
}
.BlueRow:hover {
  background: #908fb6!important
}
.YellowRow {
  background: #ffec81!important
}
.YellowRow:hover {
  background: #fff1a2!important
}
.RedRow {
  background: #d58e8e!important
}
.RedRow:hover {
  background: #d69a9a!important
}
.GreenRow {
  background: #a3d69a!important
}
.GreenRow:hover {
  background: #aac9a5!important
}




.SnackbarContent-root {
  box-shadow: 0 5px 10px 0 rgb(200, 200, 200)!important;
}

/* NOT WORKING RIGHT noW BUT IMPORTANT MAYBE LATER */
input[type=number] {
  -moz-appearance: 'textfield';
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: 'none';
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: 'none';
margin: 0;
}